
*{
    font-family: "DM Sans", serif;
}

body{
    background-color: #003A89;
    color: #ffffff;
    height: 100vh;
    margin: 0;
}


button {    
    background-color: #ffffff;
    cursor: pointer;
    border: 0;
    padding: 5px 10px;
    margin-top: 8px;
}

.search {
    border-radius: 10px;
    width: 300px;
    padding: 6px;
    margin-left: -25;
    margin-right: 15px;
}

.reset {
    margin: 0;
    padding: 0;
    /*dimensioni totali sul padding e border */
    box-sizing: border-box;
}

.container {
    text-align: center; 
    background-image: url('helpdesk-supporto-informatica-aziende.png');
    padding: 200px;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-position: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    /*background: rgba(244, 201, 201, 0.018);*/
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 15px;
}

.imgBanner {
    width: 900px;     
    height: 900px;   
    border-radius: 50%; 
    /* mantiene le proporzioni*/
    object-fit: cover; 
    margin: 0 auto 20px; 
    margin-right: +5px; 
}

.center{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: -80px;
}


.pBanner {
    color: white;
    font-size: 1rem;   
    max-width: 700px;   
    margin: 0 auto;       
    padding: 30spx;
    margin: 0 auto;     
    line-height: 1.6;    
    padding: 30px;         
    text-align: justify;  
    opacity: 1;
}

form.fin {
    width: 100%;
    /*Larghezza massima*/
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    /*aggiungere un ombra*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button{
    cursor: pointer;
    /*Transizione fluida */
    transition: all 0.3s ease;
}

.button:hover {
    background-color:#f54600; 
    /*Aggiunge un'ombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    /*Sposta il bottone verso l'alto */
    transform: translateY(-2px); 
}

