
body{
    background-color: #003A89;
    color: #ffffff;
    height: 100vh
}

.header-container {
    background-color: #003A89;
    position: fixed;
    top: 0;
    width: 100%;
    /*allinea gli elementi della stessa gerarchia in modo flessibile */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    margin-bottom: 100px;
}

.header-container-left {
    display: flex;
    align-items: center;
    /*Aggiunge uno spazio di 20px tra gli elementi della stessa gerarchia*/
    gap: 20px;
}

.header-container-right {
    display: flex;
    align-items: center;
    gap: 0.5px;
}

.logo {
    width: 100px;
    height: 100px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 15px;
}

.menu li {
    margin-right: 10px;
}

button {    
    background-color: #ffffff;
    cursor: pointer;
    border: 0;
    padding: 5px 10px;
    margin-top: 8px;
}

.search {
    border-radius: 10px;
    width: 300px;
    padding: 6px;
    margin-left: -25;
    margin-right: 15px;
}

.reset {
    margin: 0;
    padding: 0;
    /*dimensioni totali sul padding e border */
    box-sizing: border-box;
}

.button{
    cursor: pointer;
    /*Transizione fluida */
    transition: all 0.3s ease;
}

.button:hover {
    background-color:#f54600; 
    /*Aggiunge un'ombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    /*Sposta il bottone verso l'alto */
    transform: translateY(-2px); 
}
.servizio img { /*impostare grandezza immagini del servizio*/
    width: 150px;
    height: auto;
}
main {/*cambiare stile nel main sfondo e padding*/
    padding: 20px;
    background-image: url('immagini/foto4.png');
}
.servizi {/*mettere il testo in servizi al centro*/
    text-align: center;
}
.servizi h1 {/*stile per il titolo dei servizi grandezza e spazio sotto il titolo*/
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 100px;
}
.servizio {/*spazio sotto,spazio destra,affiancamento servizi inline,larghezza,sfondo,arrotondamento angoli*/
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 40%;
    background-color: rgba(241, 221, 221, 0.135);
    border-radius: 10px;
}
.servizio h2 {/*stile per il titolo gdi ogni servizio dimezione,margine,colore*/
    font-size: 35px;
    margin: 10px;
    color: #030809;
}
.servizio p {
    font-size: 23px;
}
footer {
    background-color: #003A89; /* Colore di sfondo del footer */
    color:white; /* Colore del testo bianco */
    padding: 20px; /* Spaziatura interna */
    font-size: 18px; /* Dimensione del testo */
  
}
footer h4 {
    margin: 10px 0; /* Spaziatura verticale tra le righe */
    font-size: 20px; /* Dimensione del testo delle intestazioni */
    font-weight: bold; /* Grassetto */
}